.menu {
  // background: url(../img/white-black.png);
  background: var(--c-text-black);
  padding-top: 50px;
  padding-bottom: 140px;

  &-title {
    text-align: center;
    font: var(--txt-900-48-ff);
    color: var(--c-text-white);
    margin-bottom: 25px;
  }
  &-txt {
    max-width: 580px;
    font: var(--txt-400-16-ff);
    text-align: center;
    margin-inline: auto;
    color: var(--c-text-white);
    margin-bottom: 62.5px;
  }
  &-blocks {
    &__block {
      position: relative;
      width: 100%;
      max-width: 288px;
      max-height: 508px;
      transition: var(--transition);
      &:hover .button {
        display: block;
      }
      @include mobile {
        display: block;
        max-width: 355px;
        max-height: 300px;
      }

      &-name {
        font: var(--txt-600-24-ff);
        color: var(--c-text-white);
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
      }
      &-btn {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font: var(--txt-900-14-ff);
        text-transform: uppercase;
        color: var(--c-text-white);
        padding: 20px 50px;
        border: 2px solid var(--c-color-border);
        border-radius: 5px;
        background: var(--c-background-btn);
        white-space: nowrap;
        display: none;
      }
    }
    .swiper {
      z-index: 0;
      @include mobile {
        display: none;
      }
    }
  }
  &-blocksMobile {
    display: none;
    @include mobile {
      display: block;
      @include f-c-c-column;
      row-gap: 10px;
    }
    &__block {
      position: relative;
      display: block;
      height: 300px;

      &-name {
        font: var(--txt-600-24-ff);
        color: var(--c-text-white);
        position: absolute;
        display: inline-block;
        white-space: nowrap;
        bottom: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
      }
      &-btn {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        font: var(--txt-900-14-ff);
        text-transform: uppercase;
        color: var(--c-text-white);
        padding: 20px 50px;
        border: 2px solid var(--c-color-border);
        border-radius: 5px;
        background: var(--c-background-btn);
        white-space: nowrap;
      }
    }
  }
}
.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
